<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Error!</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>
     <h1>Error :(</h1>
<!--    <div id="tweets">
    {% for t in friends %}
        <div id='tweet'>{{ t.screen_name }}</div>
    {% endfor %}
    </div>
    <div id=footer>
	    Brought to you by <a href="http://www.jayhickey.com">Jay Hickey</a><br>
    	    Follow me on <a href="http://www.twitter.com/jayhickey">Twitter</a>
    </div> -->

</body>
</html>