
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Intellibrella Setup</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>
     <h1>Enter the network name and password:</h1>
  <div id="Form" align="center">
   <form action="{{ url_for('setup') }}" method=post>
   		<br>
      <br>
      <p><b>Network name</b><br>
   		<input type=text name=SSID></p>
      <p><b>Password</b><br>
      <input type=password name=password></p>
   		<input type=submit value=Submit>
   		<br>
   		<br>
	</dl>
   </form>
  </div>
  <div id="warning">
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  </div>
	<br>
	<br>
</body>
</html>