<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>It's Heavily Raining!</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="stylesheet" href="../static/icomoon1705/style.css" type="text/css">
    <link rel="stylesheet" href="../static/icn_style.css" type="text/css">
    <link rel="stylesheet" href="../static/animate-custom.css" type="text/css">
    <style>
      body
          {
            background-image:url('../static/img/heavy6.jpg');
            background-size: 100%;
          }

 
    </style>
</head>
<body>
  <div class="content-wrapper">
      <h1><center>
        <div class="bounceIn animated" style="color:white;">
          It's Heavily Raining!
        <div class="glyph">
          <div class="fs1" aria-hidden="true" style="color:white;" data-icon="&#x37;">
          </div></div></div></center></h1>

    <div id="myCarousel" class="carousel slide">
      <a class="left carousel-control" href="/demo2" data-slide="prev">
        <div class="bounceInLeft animated">
          <div class="glyph">
          <div class="fs1" aria-hidden="true" data-icon="&#x31;">
          </div>
        </div>
      </div>
      </a>
      <a class="right carousel-control" href="/demo4" data-slide="next" id="demo4">
        <div class="bounceInRight animated">
          <div class="glyph">
          <div class="fs1" aria-hidden="true" dataa-icon="&#xe002;">
          </div>
        </div>
      </div>
      </a>
      <a class="top carousel-control" href="/demo0" data-slide="next">
        <div class="bounceInDown animated">
          <div class="glyph">
          <div class="fs1" aria-hidden="true" data-icon="&#x21;">
          </div>
        </div>
      </div>
      </a>
      <a class="bottom carousel-control" href="/demo1" data-slide="next">
      <div class="bounceInUp animated">
          <div class="glyph">
          <div class="fs1" aria-hidden="true" data-icon="&#x32;">
          </div>
        </div>
      </div>
      </a>
              <div class="status">
    <h2>
      <div class="bounceIn animated">
        Blue & Green Alert
        </div>
    </h2>
    </div>
    </div>
  </div>

<script>

// function testAnim(x) {
//     $('#animateTest').removeClass().addClass(x);
//     var wait = window.setTimeout( function(){
//       $('#animateTest').removeClass()},
//       1300
//     );
//   }

setTimeout(function() {
    document.getElementById('demo4').click();
}, 15000);


// $(document).ready(function(){
//     $('button[data-test]').click(function(){
//       var anim = $(this).attr('data-test');
//       testAnim(anim);
//     });
//   });

  $("myCarousel").onclick = function() {
    $('myCarousel').addClass('bounceOutLeft animated');
    
    // $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
    //     a: $('input[name="sliderval"]').val()
    //   }),

    return;
    // alertify.set({ delay: 30000});
    // alertify.log("Restarting...");
  };


</script>

<script src="../static/scripts/jquery.js"></script>

<script type="text/javascript">
// $(document).ready(function() 
// {
//     // fade in content.
//     $( '#content-wrapper' ).fadeIn(4000);
//     $( '#content-wrapper' ).fadeOut(4000);   
// });
// </script>


</body>
</html>