<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>It's Raining!</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="stylesheet" href="../static/icomoon1705/style.css" type="text/css">
    <link rel="stylesheet" href="../static/icn_style.css" type="text/css">
    <link rel="stylesheet" href="../static/animate-custom.css" type="text/css">
    <style>
      body
          {
            background-image:url('../static/img/rain.jpg');
            background-size: 100%;
          }
 
    </style>
</head>
<body>
  <div class="content-wrapper">
      <h1><center>
        <div class="bounceIn animated">
        It's Raining!
        <div class="bounceIn animated">
        <div class="glyph">
          <div class="fs1" style="color:white;" aria-hidden="true" data-icon="&#x31;">
          </div></div></div></center></h1>

    <div id="myCarousel" class="carousel slide">
      <a class="left carousel-control" href="/demo1" data-slide="prev">
        <div class="bounceInLeft animated">
          <div class="glyph">
          <div class="fs1" aria-hidden="true" data-icon="&#x32;">
          </div>
        </div>
      </div>
      </a>
      <a class="right carousel-control" href="/demo3" data-slide="next" id="demo3">
        <div class="bounceInRight animated">
          <div class="glyph">
          <div class="fs1" aria-hidden="true" data-icon="&#x37;">
          </div>
        </div>
      </div>
      </a>
      <a class="top carousel-control" href="/demo4" data-slide="next">
        <div class="bounceInDown animated">
          <div class="glyph">
          <div class="fs1" aria-hidden="true" dataa-icon="&#xe002;">
          </div>
        </div>
      </div>
      </a>
      <a class="bottom carousel-control" href="/demo0" data-slide="next">
      <div class="bounceInUp animated">
          <div class="glyph">
          <div class="fs1" aria-hidden="true" data-icon="&#x21;">
          </div>
        </div>
      </div>
      </a>
            <div class="status">
        <h2>
          <div class="bounceIn animated">
            Blue Alert
            </div>
        </h2>
        </div>
    </div>
  </div>



<script>

// function testAnim(x) {
//     $('#animateTest').removeClass().addClass(x);
//     var wait = window.setTimeout( function(){
//       $('#animateTest').removeClass()},
//       1300
//     );
//   }

setTimeout(function() {
    document.getElementById('demo3').click();
}, 15000);


// $(document).ready(function(){
//     $('button[data-test]').click(function(){
//       var anim = $(this).attr('data-test');
//       testAnim(anim);
//     });
//   });

// $('.content-wrapper').animate({
//             opacity: 0
//         });

</script>

<script src="../static/scripts/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function() 
{
    // fade in content.
    $( '#content-wrapper' ).fadeIn(4000);
    $( '#content-wrapper' ).fadeOut(4000);   
});
// </script>


</body>
</html>