<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Error 3!</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>
     <h1>Error 3 :(</h1>
           <form action="{{ url_for('demo3') }}" method=post>
    </div> 
    <nav class="button-group">
      <center><button id="demo3" hidden="hidden">Test</button></a></center>
      <!-- onClick='javascript:alertify.confirm("<b>Intellibrella configured!</b><br/><br/><br/>You may close this window.");' -->
      </nav>

<script>
setTimeout(function() {
    document.getElementById('demo3').click();
}, 4000);
</script>

</body>
</html>